Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  security-*,
  portability-*,
  misc-*,
  -clang-analyzer-alpha.*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -modernize-*,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -zircon-*
WarningsAsErrors: ''
HeaderFilterRegex: ''
